#     _    _              _ _                   _  #
#    / \  | | ____ _ _ __(_) |    _____   _____| | #
#   / _ \ | |/ / _` | '__| | |   / _ \ \ / / _ \ | #
#  / ___ \|   < (_| | |  | | |__|  __/\ V /  __/ | #
# /_/   \_\_|\_\__,_|_|  |_|_____\___| \_/ \___|_| #

# Plugin Docs: https://cpjinan.github.io/Wiki/

##################################
#       AkariLevel  Config       #
##################################

###########
# Options #
###########

# Global settings
Options:
  # Configuration file version
  Config-Version: 4
  # Check for updates
  Check-Update: true
  # Enable bStats metrics
  Send-Metrics: true
  # Enable debug mode
  Debug: false

############
# Database #
############

# Data storage settings
Database:
  # Use UUID
  UUID: false
  # Storage method (JSON, CBOR, SQL)
  Method: JSON
  JSON:
    file: database.json
  CBOR:
    file: database.cbor
  SQL:
    host: localhost
    port: 3306
    user: root
    password: password
    database: minecraft
    table: akarilevel

#########
# Trace #
#########

# Level group tracking settings
Trace:
  # Whether to retain the vanilla level system
  # When enabled, vanilla experience change events will not be canceled,
  # but note that the tracking feature for level groups should be disabled.
  Vanilla: false
  # Default level group to return to when tracking focus is lost (leave empty to disable tracking)
  # Default: "Example"
  Default: ""
  # Automatically reset tracked level group when the player joins the server
  Auto-Reset: true

########
# Team #
########

# Team experience share settings
Team:
  # Enable
  Enable: false
  # Team plugin (DungeonPlus)
  Plugin: DungeonPlus
  # PlayerExpChangeEvent sources to listen to
  Source:
    - "MYTHICMOBS_DROP_EXP"
  # Total amount of experience pool to be allocated (JavaScript supported)
  # %exp% -> Experience amount before allocation
  Total: "%exp% * 1"
  # Allocation weights for the leader and members
  # Actual experience = experience pool amount * (individual weight / total team weight)
  Weight:
    Leader: 1
    Member: 1

#############
# Attribute #
#############

# Attribute plugin experience bonus
Attribute:
  # Enable
  Enable: false
  # Attribute plugin (AttributePlus, SX-Attribute, OriginAttribute, AttributeSystem)
  Plugin: "AttributePlus"
  # Attribute name (leave blank if using OriginAttribute)
  # AttributePlus - 经验加成
  # SX-Attribute - ExpAddition
  # AttributeSystem - ExpAddition
  Name: "经验加成"
  # Experience calculation formula (JavaScript supported)
  # %exp% -> Amount of experience gained
  # %attribute% -> Additional experience bonus amount
  Formula: "%exp% * ( 1 + %attribute% / 100 )"
  # PlayerExpChangeEvent sources to listen to
  Source:
    - "MYTHICMOBS_DROP_EXP"
    - "VANILLA_EXP_CHANGE"

####################
#  PlaceholderAPI  #
####################

# Placeholder settings
PlaceholderAPI:
  # Placeholder prefix
  Identifier: "akarilevel"
  # Experience bar placeholder settings
  Progress-Bar:
    # Current level / Maximum level
    Level:
      Empty: "□"
      Full: "■"
      Length: 10
    # Current experience / Experience needed for next level
    Exp:
      Empty: "□"
      Full: "■"
      Length: 10